<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediAssist"
        tools:targetApi="31">
        <activity
            android:name=".SearchDoctors.SearchDoctorsListActivity"
            android:exported="false"
            android:label="@string/title_activity_search_doctors_list"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".appointment.ScheduleAppointmentActivity"
            android:exported="false"
            android:label="@string/title_activity_schedule_appointment"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/dropdown_item" />

        <activity
            android:name=".resetpassword.ForgotPasswordActivity"
            android:exported="false"
            android:label="forgot_password"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>



        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:label="LoginActivity"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".dashboard.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".clinicadmin.ClinicAdminActivity"
            android:exported="false"
            android:label="ClinicAdminActivity"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".category.CategoryActivity"
            android:exported="false"
            android:label="CategoryActivity"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".doctor.DoctorActivity"
            android:exported="false"
            android:label="DoctorActivity"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".clinic.ClinicActivity"
            android:exported="false"
            android:label="@string/title_activity_clinic"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".signup.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MediAssist.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>